{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://greenwire.greenpeace.org/api/public"
        }
    ],
    "info": {
        "contact": {
            "name": "Greenpeace International contact",
            "url": "http://www.greenpeace.org/international/en/about/contactus/",
            "x-twitter": "Greenpeace"
        },
        "description": "Greenpeace Greenwire allows you connect with other volunteers, activists and groups working on environmental campaigns all across the world!",
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        },
        "termsOfService": "http://www.greenpeace.org/international/en/Help/copyright2/",
        "title": "Greenwire Public",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "collaboration"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Greenpeace_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/greenpeace/ggw_api_test/master/swagger.yaml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "greenpeace.org"
    },
    "paths": {
        "/events": {
            "get": {
                "description": "Return the upcoming events (e.g. start date >= today). Gets an array of `Event` object. Mandatory query param of **domain** determines the site / country the event belongs to.",
                "parameters": [
                    {
                        "description": "the site the groups belongs to, example: netherlands",
                        "in": "query",
                        "name": "domain",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "the number of desired records",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "items": {
                                                "properties": {
                                                    "created": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "A string containing sanitized HTML code",
                                                        "type": "string"
                                                    },
                                                    "end_date": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "items": {
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "serial": {
                                                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "location": {
                                                        "properties": {
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "coordinates": {
                                                                "properties": {
                                                                    "latitude": {
                                                                        "description": "Signed decimal format, example: 52.1234",
                                                                        "type": "string"
                                                                    },
                                                                    "longitude": {
                                                                        "description": "Signed decimal format, example -77.022223",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "postcode": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "streetname": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "modified": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "organizers": {
                                                        "items": {
                                                            "properties": {
                                                                "serial": {
                                                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "picture": {
                                                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                        "type": "string"
                                                    },
                                                    "serial": {
                                                        "description": "The primary key in Drupal, e.g the entity/node id",
                                                        "type": "string"
                                                    },
                                                    "start_date": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{UUID}": {
            "get": {
                "description": "Get one `Event` object by specifying its UUID in the url path.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "created": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "A string containing sanitized HTML code",
                                                    "type": "string"
                                                },
                                                "end_date": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "groups": {
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "serial": {
                                                                "description": "The primary key in Drupal, e.g the entity/node id",
                                                                "type": "string"
                                                            },
                                                            "uuid": {
                                                                "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "location": {
                                                    "properties": {
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "latitude": {
                                                                    "description": "Signed decimal format, example: 52.1234",
                                                                    "type": "string"
                                                                },
                                                                "longitude": {
                                                                    "description": "Signed decimal format, example -77.022223",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "postcode": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "streetname": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "modified": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "organizers": {
                                                    "items": {
                                                        "properties": {
                                                            "serial": {
                                                                "description": "The primary key in Drupal, e.g the entity/node id",
                                                                "type": "string"
                                                            },
                                                            "uuid": {
                                                                "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "picture": {
                                                    "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                    "type": "string"
                                                },
                                                "serial": {
                                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                                    "type": "string"
                                                },
                                                "start_date": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "uuid": {
                                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "description": "the error message",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/groups": {
            "get": {
                "description": "Gets an array of `Group` object. Mandatory query param of **domain** determines the site / country the group belongs to.",
                "parameters": [
                    {
                        "description": "the site the groups belongs to, example: netherlands",
                        "in": "query",
                        "name": "domain",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "the number of desired records",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "items": {
                                                "properties": {
                                                    "created": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "A string containing sanitized HTML code",
                                                        "type": "string"
                                                    },
                                                    "group_type": {
                                                        "enum": [
                                                            "Country group",
                                                            "Campaign Project group",
                                                            "Local group",
                                                            "Discussion group",
                                                            "Interest group",
                                                            "Skills-based group"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "properties": {
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "coordinates": {
                                                                "properties": {
                                                                    "latitude": {
                                                                        "description": "Signed decimal format, example: 52.1234",
                                                                        "type": "string"
                                                                    },
                                                                    "longitude": {
                                                                        "description": "Signed decimal format, example -77.022223",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "postcode": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "streetname": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "mission": {
                                                        "type": "string"
                                                    },
                                                    "modified": {
                                                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "picture": {
                                                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                        "type": "string"
                                                    },
                                                    "serial": {
                                                        "description": "The primary key in Drupal, e.g the entity/node id",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/groups/{UUID}": {
            "get": {
                "description": "Get one `Group` object by specifying its UUID in the url path.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "created": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "A string containing sanitized HTML code",
                                                    "type": "string"
                                                },
                                                "group_type": {
                                                    "enum": [
                                                        "Country group",
                                                        "Campaign Project group",
                                                        "Local group",
                                                        "Discussion group",
                                                        "Interest group",
                                                        "Skills-based group"
                                                    ],
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "properties": {
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "latitude": {
                                                                    "description": "Signed decimal format, example: 52.1234",
                                                                    "type": "string"
                                                                },
                                                                "longitude": {
                                                                    "description": "Signed decimal format, example -77.022223",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "postcode": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "streetname": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "mission": {
                                                    "type": "string"
                                                },
                                                "modified": {
                                                    "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "picture": {
                                                    "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                    "type": "string"
                                                },
                                                "serial": {
                                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                                    "type": "string"
                                                },
                                                "uuid": {
                                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "description": "the error message",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/volunteers": {
            "get": {
                "description": "Gets an array of `Volunteer` object. Mandatory query param of **domain** determines the site / country the volunteers are from.",
                "parameters": [
                    {
                        "description": "the site the users are registered on, example: netherlands",
                        "in": "query",
                        "name": "domain",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "the number of desired records. Default is 5.",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "1 or 0. filter on people that have the default avatar or not.",
                        "in": "query",
                        "name": "must_have_default_avatar",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "items": {
                                                "properties": {
                                                    "avatar": {
                                                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                        "type": "string"
                                                    },
                                                    "locations": {
                                                        "items": {
                                                            "properties": {
                                                                "country": {
                                                                    "description": "Country code see. https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "uuid": {
                                                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/volunteers/{UUID}": {
            "get": {
                "description": "Get one specific `Volunteer` object by specifying its UUID in the url path.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "avatar": {
                                                    "description": "A resource location, example: https://greenwire.greenpeace.org",
                                                    "type": "string"
                                                },
                                                "locations": {
                                                    "items": {
                                                        "properties": {
                                                            "country": {
                                                                "description": "Country code see. https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "uuid": {
                                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "limit": {
                                                            "description": "the nubmer of items per page",
                                                            "type": "integer"
                                                        },
                                                        "page": {
                                                            "description": "the current page",
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "description": "the total number of pages",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "type": "object"
                                        },
                                        "header": {
                                            "properties": {
                                                "code": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "description": "the error message",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "transaction nonce",
                                                    "type": "integer"
                                                },
                                                "pagination": {
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "The name of the requested object/model/resource. Plural if a collection.",
                                                    "enum": [
                                                        "group",
                                                        "groups",
                                                        "event",
                                                        "events",
                                                        "volunteer",
                                                        "volunteers"
                                                    ],
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Coordinates": {
                "properties": {
                    "latitude": {
                        "description": "Signed decimal format, example: 52.1234",
                        "type": "string"
                    },
                    "longitude": {
                        "description": "Signed decimal format, example -77.022223",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DateTime": {
                "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                "type": "string"
            },
            "Event": {
                "properties": {
                    "created": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "description": {
                        "description": "A string containing sanitized HTML code",
                        "type": "string"
                    },
                    "end_date": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "groups": {
                        "items": {
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "serial": {
                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                    "type": "string"
                                },
                                "uuid": {
                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "location": {
                        "properties": {
                            "city": {
                                "type": "string"
                            },
                            "coordinates": {
                                "properties": {
                                    "latitude": {
                                        "description": "Signed decimal format, example: 52.1234",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Signed decimal format, example -77.022223",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "country": {
                                "type": "string"
                            },
                            "postcode": {
                                "type": "string"
                            },
                            "state": {
                                "type": "string"
                            },
                            "streetname": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "modified": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "organizers": {
                        "items": {
                            "properties": {
                                "serial": {
                                    "description": "The primary key in Drupal, e.g the entity/node id",
                                    "type": "string"
                                },
                                "uuid": {
                                    "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "picture": {
                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                        "type": "string"
                    },
                    "serial": {
                        "description": "The primary key in Drupal, e.g the entity/node id",
                        "type": "string"
                    },
                    "start_date": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "uuid": {
                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Group": {
                "properties": {
                    "created": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "description": {
                        "description": "A string containing sanitized HTML code",
                        "type": "string"
                    },
                    "group_type": {
                        "enum": [
                            "Country group",
                            "Campaign Project group",
                            "Local group",
                            "Discussion group",
                            "Interest group",
                            "Skills-based group"
                        ],
                        "type": "string"
                    },
                    "location": {
                        "properties": {
                            "city": {
                                "type": "string"
                            },
                            "coordinates": {
                                "properties": {
                                    "latitude": {
                                        "description": "Signed decimal format, example: 52.1234",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Signed decimal format, example -77.022223",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "country": {
                                "type": "string"
                            },
                            "postcode": {
                                "type": "string"
                            },
                            "state": {
                                "type": "string"
                            },
                            "streetname": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "mission": {
                        "type": "string"
                    },
                    "modified": {
                        "description": "The date in YYYY-MM-DD HH:MM:SS format, example: 2015-12-31 23:59:59",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "picture": {
                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                        "type": "string"
                    },
                    "serial": {
                        "description": "The primary key in Drupal, e.g the entity/node id",
                        "type": "string"
                    },
                    "uuid": {
                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "GroupLite": {
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "serial": {
                        "description": "The primary key in Drupal, e.g the entity/node id",
                        "type": "string"
                    },
                    "uuid": {
                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "GroupType": {
                "enum": [
                    "Country group",
                    "Campaign Project group",
                    "Local group",
                    "Discussion group",
                    "Interest group",
                    "Skills-based group"
                ],
                "type": "string"
            },
            "HTML": {
                "description": "A string containing sanitized HTML code",
                "type": "string"
            },
            "HTTP_Code": {
                "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                "type": "string"
            },
            "HTTP_Status": {
                "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                "type": "integer"
            },
            "HeaderError": {
                "properties": {
                    "code": {
                        "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                        "type": "string"
                    },
                    "error": {
                        "description": "the error message",
                        "type": "string"
                    },
                    "id": {
                        "description": "transaction nonce",
                        "type": "integer"
                    },
                    "pagination": {
                        "type": "object"
                    },
                    "resources": {
                        "description": "The name of the requested object/model/resource. Plural if a collection.",
                        "enum": [
                            "group",
                            "groups",
                            "event",
                            "events",
                            "volunteer",
                            "volunteers"
                        ],
                        "type": "string"
                    },
                    "status": {
                        "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "HeaderSuccess": {
                "properties": {
                    "code": {
                        "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                        "type": "string"
                    },
                    "error": {
                        "nullable": true
                    },
                    "id": {
                        "description": "transaction nonce",
                        "type": "integer"
                    },
                    "pagination": {
                        "properties": {
                            "limit": {
                                "description": "the nubmer of items per page",
                                "type": "integer"
                            },
                            "page": {
                                "description": "the current page",
                                "type": "integer"
                            },
                            "total": {
                                "description": "the total number of pages",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    },
                    "resources": {
                        "description": "The name of the requested object/model/resource. Plural if a collection.",
                        "enum": [
                            "group",
                            "groups",
                            "event",
                            "events",
                            "volunteer",
                            "volunteers"
                        ],
                        "type": "string"
                    },
                    "status": {
                        "description": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ISO_3166-1_alpha-2": {
                "description": "Country code see. https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
                "type": "string"
            },
            "Location": {
                "properties": {
                    "city": {
                        "type": "string"
                    },
                    "coordinates": {
                        "properties": {
                            "latitude": {
                                "description": "Signed decimal format, example: 52.1234",
                                "type": "string"
                            },
                            "longitude": {
                                "description": "Signed decimal format, example -77.022223",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "country": {
                        "type": "string"
                    },
                    "postcode": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "streetname": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "LocationSimple": {
                "properties": {
                    "country": {
                        "description": "Country code see. https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Pagination": {
                "properties": {
                    "limit": {
                        "description": "the nubmer of items per page",
                        "type": "integer"
                    },
                    "page": {
                        "description": "the current page",
                        "type": "integer"
                    },
                    "total": {
                        "description": "the total number of pages",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ResourceType": {
                "description": "The name of the requested object/model/resource. Plural if a collection.",
                "enum": [
                    "group",
                    "groups",
                    "event",
                    "events",
                    "volunteer",
                    "volunteers"
                ],
                "type": "string"
            },
            "Serial": {
                "description": "The primary key in Drupal, e.g the entity/node id",
                "type": "string"
            },
            "URL": {
                "description": "A resource location, example: https://greenwire.greenpeace.org",
                "type": "string"
            },
            "UUID": {
                "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                "type": "string"
            },
            "Volunteer": {
                "properties": {
                    "avatar": {
                        "description": "A resource location, example: https://greenwire.greenpeace.org",
                        "type": "string"
                    },
                    "locations": {
                        "items": {
                            "properties": {
                                "country": {
                                    "description": "Country code see. https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "uuid": {
                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "VolunteerLite": {
                "properties": {
                    "serial": {
                        "description": "The primary key in Drupal, e.g the entity/node id",
                        "type": "string"
                    },
                    "uuid": {
                        "description": "Universally unique identifier in canonical format, example: de305d54-75b4-431b-adb2-eb6b9e546014",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}